html {
  width: 100%;
}

body {
  overflow-x: hidden !important;
}

body.show-spinner>main {
  overflow: hidden !important;
}

/* Hide everything under body tag */
body.show-spinner>* {
  opacity: 0;
}

/* Spinner */
body.show-spinner::after {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


.background .mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}



.menu .main-menu ul li a::after{content:"";
  width: 90px;
  height: 0px;
  border-bottom: 0.5px solid #BFCFEB;
  box-shadow: 0px 2px 5px #BFCFEB;
  margin: 13px auto 0;
}
.menu .main-menu ul li a{border-bottom: 0px !important; height: auto !important; padding-top: 10px;}
.menu .main-menu ul li:last-child a::after {
  border-bottom: 0px !important;
  box-shadow: none;
  content:"";
} 
.menu .main-menu ul li{margin-bottom: 0px !important;}
.menu .main-menu ul{margin-bottom: 10px;}
/* new lines added for responsive for filter selection along with date 25-05-2023 */
.mobile-logo {
  display: block;
}

.mobile-logo-new {
  display: none;
}

@media(max-width: 610px) {
  .mobile-logo {
    display: none !important;
  }

  .mobile-logo-new {
    display: block !important;
  }

  .mobile-logo-new .logo {
    width: 200px;
    background: transparent !important;
  }
}

@media (min-width: 320px) and (max-width: 600px){
  main {
      margin-bottom: 0;
      margin-top: 10rem !important;
  }
  .page-header {
    width: 100%;
  }

  .icon1,
  .icon2 {
    width: 50px !important;
  }

  .nav-tabs1 ul {
    position: relative;
    top: 0rem !important;
    background-color: transparent !important;
  }
  .nav-tabs1 ul li{margin-bottom: 0px !important;}

  .menu {
    padding-top: 8.5rem !important;
  }

  .nav-tabs1 .nav-link.active {
    border-radius: 10px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0px solid #4472C4 !important;
    border-top: 0px solid #4472C4 !important;
    border-left: 0px solid #4472C4 !important;
    background-color: #bfcfeb !important;
    width: 100% !important;
    cursor: none !important;
  }
  }
  @media (min-width: 768px) and (max-width: 1199px){
  main {
      margin-left: 370px;
      margin-right: 40px;
      margin-top: 5rem !important;
      margin-bottom: 20px;
  }
  .card.card_1{
    border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        margin-top: 10px;
  }

  .nav-tabs1 ul {
    position: sticky;
    top: 4.4rem !important;
    z-index: 1;
    padding-top: 20px;
    background-color: #f8f8f8 !important;
  }
  }
  @media (min-width: 576px) and (max-width: 767px) {
      main {
        margin-left: 15px !important;
        margin-right: 15px !important;
        margin-top: 5rem !important;
        margin-bottom: 0; }
        .menu {
          padding-top: 5rem !important;
        }
      
        .nav-tabs1 .nav-link.active {
          border-radius: 10px !important;
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          border-right: 0px solid #4472C4 !important;
          border-top: 0px solid #4472C4 !important;
          border-left: 0px solid #4472C4 !important;
          background-color: #bfcfeb !important;
          width: 100% !important;
          cursor: none !important;
        }
      
        .nav-tabs1 ul {
          position: relative;
          top: 0rem !important;
          z-index: 1;
        }
      }
  .user .dropdown-item.active, .dropdown-item:active{
          color: #fff !important;
          text-decoration: none;
          background-color: #145388;
        }

        .nav-tabs1 ul {
          position: sticky;
          top: 5.5rem !important;
          z-index: 1;
          padding-top: 20px;
          background-color: #f8f8f8 !important;
        }
        
        
        .flex-wrapper {
        
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
        }
        
        .flex-wrapper>div {
          /* flex: 1 1 auto; */
          /* flex: 0 0 auto; */
          /* min-width: 200px; */
          margin-right: 10px !important;
          width: 100% !important;
        
        }
        
        input,
        select {
          width: 100%;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1200px) {
        
          input,
          select {
            width: 100% !important;
          }
        
          .flex-wrapper {
        
            display: flex;
            flex-flow: row wrap;
          }
        
          .flex-wrapper>div {
            flex: inherit !important;
          }
        
          .flex-wrapper div.form-group {
            width: 30% !important;
            margin: 0px;
          }
        }
        
        @media screen and (min-width: 481px) and (max-width: 767px) {
        
          input,
          select {
            width: 100% !important;
          }
        
          .flex-wrapper {
        
            display: flex;
            flex-flow: row wrap;
          }
        
          .flex-wrapper>div {
            flex: inherit !important;
          }
        
          .flex-wrapper div.form-group {
            width: 30% !important;
            margin: 0px;
          }
        
          .nav-tabs1 ul {
            position: relative;
            top: 0rem !important;
            background-color: transparent !important;
          }
        }
        @media screen and (max-width: 480px) {
          .flex-wrapper {
        
            display: inherit !important;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
          }
        
        
          /* Nav tabs css start */
          .nav-tabs1 .nav-link,
          .nav-tabs1 li button,
          .nav-tabs1 li .nav-item button {
            border-radius: 10px !important;
            border-bottom-left-radius: 0;
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 0;
            border: 1px solid #bfcfeb;
            background-color: #bfcfeb !important;
            width: 100% !important;
          }
        
        
        
          .nav-tabs1 .nav-fill li:last-child.nav-item {
            margin-right: 0px;
          }
        
        
          .nav-pills .nav-link.active,
          .nav-pills .show>.nav-link {
            color: white;
            background-color: #145388;
            padding-top: 28px;
            margin-top: -20px;
          }
        
          .text-chart {
            background-color: #DAE3F3;
            text-align: center;
            color: #687A99;
            padding: 5px;
            font-weight: 900;
        
          }
        
          .nav-tabs1 li button {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
          }
        
          .nav-tabs1 .title,
          .nav-tabs1 .nav-link.active {
            color: #353535;
            text-transform: uppercase;
            font-size: 18px !important;
        
            display: inline-block;
        
            font-weight: bold !important;
          }
        
          .nav-tabs1 h5 {
            color: rgb(75, 125, 160) !important;
            text-transform: uppercase;
            font-size: 18px !important;
            padding: 4px;
            margin-bottom: 0;
            font-weight: 600;
          }
        
          hr.line {
            /* border-top: 1px solid #4472C4; */
        
        
        
            height: 1px;
            background: rgba(42, 106, 150, 90%);
            box-shadow: 0px 3px 3px 1px rgba(172, 186, 211, 90%);
        
        
        
          }
        
          /* Nav tabs css End */
          .nav-tabs1 ul {
            position: relative !important;
            top: 0rem!important;
          }
        
          .nav-tabs1 .nav-pills .nav-link.active,
          .nav-tabs1 .nav-pills .show>.nav-link,
          .nav-tabs1 .nav-pills .nav-item.active {
            color: white;
            margin-top: 0px !important;
          }
        
          .nav-pills .show>.nav-link {
            border-radius: 10px !important;
          }
        
          .nav-tabs1 .nav-pills .nav-link {
            border-radius: 10px !important;
          }
        
          .nav-tabs1 .nav-pills .nav-item {
            border-bottom-left-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            margin-bottom: 10px !important;
          }
        
          .nav-tabs1 .nav-pills .nav-item.active {
            margin-bottom: 10px !important;
            width: 100% !important;
          }
        
          .nav-tabs1 .nav-link {
            border-bottom-left-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
          }
        
          .nav-tabs1 .nav {
            flex-flow: column !important;
          }
          .tab-content{position: relative; top: 0rem;}
        
        }
        
        #pills-tabContent .card{border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;}
        
        .card_1{
          background-color: #d0cece !important; border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
        }
        
        @media (max-width: 767px){
          .card.card_1{
            border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; border-top-left-radius: 10px !important;
                border-top-right-radius: 10px !important;
                margin-top: 10px;
          }
        }