<div>
    <form [formGroup]="dynamicForm" style="width: 500px;" (ngSubmit)="onSubmit()">
      <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
          <div class="form-floating m-4">
            <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
            <label for="floatingInputGrid">Email</label>
            <div *ngIf="item.get('email').touched && item.get('email').hasError('required')">
              <span class="text-danger">Email is required</span>
            </div>
            <div *ngIf="item.get('email').touched && item.get('email').hasError('email')">
              <span class="text-danger">Invalid email format</span>
            </div>
          </div>
          <div class="form-floating m-4">
            <input type="text" class="form-control" placeholder="Enter 10 Digit Mobile Number" formControlName="mobile">
            <label for="floatingInputGrid">Mobile No</label>
            <div *ngIf="item.get('mobile').touched && item.get('mobile').hasError('required')">
              <span class="text-danger">Mobile No is required</span>
            </div>
            <div *ngIf="item.get('mobile').touched && item.get('mobile').hasError('pattern')">
              <span class="text-danger">Invalid mobile number start with +91</span>
            </div>
            <button class="btn btn-danger" type="button" (click)="removeItem(i)">Remove</button>
          </div>
        </div>
      </div>
      
      <button class="btn btn-primary m-4" type="button" (click)="add()">Add</button>
      
      <button class="btn btn-secondary m-4" type="submit" [disabled]="dynamicForm.invalid">Submit</button>
      
    </form>
  </div>