<!-- <app-dynamic-form></app-dynamic-form> -->
<!-- <app-form></app-form> -->
<!-- <app-login></app-login> -->
<!-- <app-model-table></app-model-table> -->
 <!-- <app-checkbox></app-checkbox> -->
 
 <!-- <app-parent></app-parent> -->
  <!-- <app-table></app-table> -->
   <!-- <app-notification></app-notification>

<app-contact></app-contact> -->
<!-- <app-lazy-load></app-lazy-load> -->
<!-- <app-keyboard-event></app-keyboard-event>  -->
 <!-- <app-host-listeners></app-host-listeners> -->
<!-- <app-even-numbers></app-even-numbers> -->
 <!-- <app-combined-array></app-combined-array> -->
  
  <!-- <div appMyCustomDirective>
   Hover over me!
 </div>  -->
 <!-- <app-registration></app-registration> -->
 <!-- <h1>Custom Directive Demo</h1>
<p appMyCustomDirective>Hover over this text to see the highlight effect!</p> -->
<!-- <app-age-array></app-age-array> -->
<app-child-registration></app-child-registration>

<router-outlet></router-outlet>
