<table class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Date of Birth</td>
            <td>Age</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of array">
            <td>{{i.name}}</td>
            <td>{{i.DOB}}</td>
            <td [ngStyle]="{'color': i.age<25 ? 'green': i.age>20 ? 'red':'blue'}"><button type="button" class="btn btn-secondary" data-toggle="tooltip" title={{i.name}}>{{i.age}}</button></td>
        </tr>
    </tbody>
</table>


<!-- <div class="mb-3">
    <label for="dob" class="form-label">Date of Birth</label>
    <input type="date" id="dob" class="form-control" formControlName="dob" (change)="onDobChange()" />
    
  </div>

  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input type="text" id="age" class="form-control" formControlName="age" readonly />
  </div> -->
